DVLA_API_KEY=
MOT_HISTORY_API_KEY=
MOT_CLIENT_ID=
MOT_CLIENT_SECRET=
MOT_TOKEN_URL=
MOT_SCOPE=https://tapi.dvsa.gov.uk/.default
MOT_LOOKUP_URL=https://history.mot.api.gov.uk/v1/trade/vehicles/registration/{registration}
REQUEST_TIMEOUT_SECONDS=20
